/* Variables */
:root {
    /* Light Theme Variables */
    --bg-primary: #D1D5DB;
    --bg-secondary: #ffffff;
    --bg-tertiary: #f0f3f7;
    --text-primary: #1E2433;
    --text-secondary: #374151;

    --light-border-color: #d1d5db;

    /* Dark Theme Variables */
    --dark-bg-contrast: #000000;
    --dark-bg-primary: #121620;
    --dark-bg-secondary: #1E2433;
    --dark-bg-tertiary: #2A3242;
    --dark-text-primary: #ffffff;
    --dark-text-secondary: #cccccc;

    --dark-border-color: hsl(220deg 10% 50% / 50%);

    /* Accent Variables */
    --accent-primary: #4F46E5;
    --accent-secondary: #6366F1;
    --accent-tertiary: #818CF8;
    --accent-opaque: #818CF84d;

    --accent-complementary: #24cddc;

    /* Neutral Variables */
    --neutral-primary: #7f7f7f;
    --neutral-secondary: #b3b3b3;

    /* Transition Variable */
    --transition-speed: 0.3s;

    /* Other Variables */
    interpolate-size: allow-keywords;
}

/*--------------------------------------------------------------
  Global Styles
--------------------------------------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 75px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 35px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

body::before {
    content: '';
    display: block;
    position: fixed;
    background-size: 75% 200%;
    background-position: 50% -110vh;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    mix-blend-mode: plus-lighter;
    z-index: 0;
    background: radial-gradient(50% 100% at 50% 25%, rgb(101 145 255 / 8%) 0%, rgba(3, 0, 20, 0) 100%);
}

* {
    border-color: var(--light-border-color) !important;
}

/*--------------------------------------------------------------
  Elements
--------------------------------------------------------------*/
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

mark {
    background-color: var(--accent-opaque);
    border-radius: 2px;
    padding: 2px 5px;
    color: inherit;
}


/*--------------------------------------------------------------
  Typography
--------------------------------------------------------------*/
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--accent-primary);
}

h1 {
    font-size: 2rem;
    line-height: 35px;
    margin-bottom: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

/*--------------------------------------------------------------
  Layout
--------------------------------------------------------------*/
.container {
    width: 100%;
    min-height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
}

.main-header {
    text-align: center;
    width: 400px;
    float: left;
}

/*--------------------------------------------------------------
  Navigation
--------------------------------------------------------------*/
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-height: 60px;
    height: 60px;
    gap: 15px;
}

.main-nav .nav-left .nav-logo {
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--accent-primary);
}

.main-nav .nav-menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav .nav-menu ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--accent-primary);
    font-weight: 600;
    text-transform: uppercase;
}

.main-nav .nav-menu ul li:not(:last-child):after {
    content: '•';
    margin: 0 10px;
    color: var(--accent-primary);
}

.main-nav .nav-extras {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.main-nav .nav-extras button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-primary);
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
}

.nav-toggle-icon {
    font-size: 30px;
    color: var(--accent-primary);
}

/*--------------------------------------------------------------
  Sidebar
--------------------------------------------------------------*/
.sidebar {
    flex: 0 0 400px;
    padding: 2rem;
    text-align: center;
    height: fit-content;
    position: fixed;
    width: 400px;
    top: 75px;
    background-image: url("../img/card-bg.webp");
    background-color: var(--accent-primary);
    background-size: cover;
    background-blend-mode: soft-light;
    box-shadow: inset 0px 0 200px 105px #1f1f1f;
}

.sidebar h1 {
    margin: 0;
}

.sidebar>* {
    position: relative;
    z-index: 1;
}

.sidebar .sidebar-content {
    z-index: 5;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar::before,
.sidebar::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.sidebar::after {
    opacity: .4;
    backdrop-filter: blur(5px);
    background-color: var(--bg-tertiary);
}

.sidebar::before {
    animation: glow infinite 20s linear;
    background-image: radial-gradient(circle at var(--x) var(--y), rgb(74, 210, 255), #007bff 50%, #ffffff00 70%);
    background-size: 100% 100%;
    filter: saturate(2) contrast(1) blur(15px) hue-rotate(0deg);
    animation-timing-function: linear;
    transition: opacity 0.5s ease-in-out;
}

aside {
    position: relative;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    transform-style: preserve-3d;
    z-index: 10000;
    cursor: pointer;
}

aside .reflection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(farthest-corner circle at var(--light-x) var(--light-y), hsla(0, 0%, 100%, 0.8) 10%, hsla(0, 0%, 100%, 0.65) 20%, hsla(0, 0%, 0%, 0.5) 90%);
    opacity: 0;
    transition: opacity 0.7s ease-out, transform 0.2s ease-out;
    pointer-events: none;
    mix-blend-mode: soft-light;
    border-radius: 15px;
    z-index: 10;
}

aside .reflection_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(farthest-corner circle at var(--light-x) var(--light-y), hsla(0, 0%, 100%, 0.8) 10%, hsla(0, 0%, 100%, 0.65) 20%, hsla(0, 0%, 0%, 0.5) 90%);
    opacity: 0;
    transition: opacity 0.7s ease-out, transform 0.2s ease-out;
    pointer-events: none;
    mix-blend-mode: soft-light;
    border-radius: 15px;
    z-index: 10;
}

aside:hover .reflection {
    opacity: 0.8;
    transform: scale(1.0);
}

aside:hover .sidebar::before {
    opacity: 0;
}

.holo-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 3;
    pointer-events: none;
    mask-image: url('../img/effect.webp');
    -webkit-mask-image: url('../img/effect.webp');
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    border-radius: 15px;
    mix-blend-mode: plus-lighter;
}

.holo-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    background-size: 100% 100%;
    z-index: 4;
    mix-blend-mode: exclusion;
    background:
        repeating-linear-gradient(30deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 0, 255, 0.5) 15%,
            rgba(0, 255, 255, 0.5) 30%,
            rgba(255, 255, 0, 0.5) 45%,
            rgba(255, 0, 0, 0.5) 60%,
            rgba(255, 255, 255, 0.5) 75%);
    mix-blend-mode: difference;
    transition: opacity 0.2s ease-in-out;
}

aside:hover .holo-pattern {
    opacity: 0.5;
}


.holo-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    background-image:
        repeating-linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 3px);
    z-index: 5;
}

.card-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 6;
}

aside:hover {
    transform: perspective(1000px) scale(1.08) rotateX(var(--rotateX)) rotateY(var(--rotateY));
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.35);
}

aside:hover::before {
    animation-play-state: paused;
    opacity: 0;
}

aside {
    will-change: transform;
}

/*--------------------------------------------------------------
  Main Content
--------------------------------------------------------------*/
.main-content {
    flex: 1;
}

.section,
.sidebar {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
}

.section {
    padding: 35px;
    background: var(--bg-secondary);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

main {
    width: 940px;
    float: right;
    margin-top: 60px;
    position: relative;
}

main section:first-child {
    margin-top: 0;
}

/*--------------------------------------------------------------
  Sections
--------------------------------------------------------------*/
.section {
    margin: 30px 0;
    border: 1px solid;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section#about-me,
.section#interests {
    text-align: justify;
}

#interests p {
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
  Skills & Badges
--------------------------------------------------------------*/
.skills,
.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.badge {
    background: var(--accent-tertiary);
    color: white;
    padding: 2px 8px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.skills {
    margin-top: 10px;
}

.skill {
    background: var(--accent-primary);
    color: white;
    padding: 5px 12px;
    border-radius: 2px;
    font-weight: 600;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skill.visible {
    opacity: 1;
    transform: translateY(0);
}

.skill i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 1.5em;
}

.skill:hover {
    transform: translateY(-5px);
}

/*--------------------------------------------------------------
  Contact
--------------------------------------------------------------*/
.contact a {
    color: var(--accent-primary);
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------
  Profile Picture
--------------------------------------------------------------*/
.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--dark-bg-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.profile-pic img {
    width: 97%;
    height: 97%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-img {
    width: 100%;
    object-fit: cover;
    position: static;
}

.role {
    line-height: 25px;
}

/*--------------------------------------------------------------
  Toggles
--------------------------------------------------------------*/
.toggles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.theme-toggle,
.lang-toggle {
    cursor: pointer;
}

.toggle-btn {
    width: 30px;
    height: 30px;
}

/*--------------------------------------------------------------
  Details (Accordion)
--------------------------------------------------------------*/
details summary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    line-height: 40px;
    border-bottom: 1px solid #80808080;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary svg {
    fill: var(--dark-bg-primary);
}

details::details-content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s, content-visibility 0.3s;
    transition-behavior: allow-discrete;
}

details[open]::details-content {
    height: auto;
}

details[open] summary svg {
    opacity: 0;
}

/*--------------------------------------------------------------
  Socials & Location
--------------------------------------------------------------*/
.socials,
.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.location {
    grid-gap: 5px;
}

.social-links {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-primary);
    color: var(--dark-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.socials .social-icon {
    background-color: var(--bg-tertiary);
    color: var(--accent-secondary);
}

.social-links .social-icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
}

/*--------------------------------------------------------------
  Menu (Sidebar)
--------------------------------------------------------------*/
.menu ul {
    padding: 0;
}

.menu li {
    list-style-type: none;
    margin: 10px 0;
    font-size: 18px;
    line-height: 18px;
    display: grid;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--accent-primary);
}

/*--------------------------------------------------------------
  Timeline
--------------------------------------------------------------*/
.timeline {
    position: relative;
    margin: 20px 0;
    padding-left: 40px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--accent-secondary);
    border-radius: 2px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background: var(--accent-secondary);
    border-radius: 50%;
}

.timeline-date {
    color: var(--accent-tertiary);
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 40px;
}

.timeline-title {
    margin-bottom: 30px;
}

.timeline-title>* {
    display: inline-block;
}

.timeline-title-composed {
    display: flex;
    align-items: center;
}

.timeline-subtitle {
    color: var(--accent-tertiary);
}

.timeline-title-detail {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.timeline-title-detail::before {
    content: '•';
    margin: 0 10px;
}

.timeline-title h3 {
    display: block;
}

.timeline-content {
    background: var(--bg-tertiary);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    text-align: justify;
    /* box-shadow: 0 1px 2px #0000000d; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    transition: transform 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.timeline-content p:not(:last-child) {
    margin-bottom: 15px;
}

.timeline-body ul {
    margin-left: 20px;
}

.timeline-body ul li:not(:last-child) {
    margin-bottom: 20px;
}

.timeline-body ul li::marker {
    color: var(--accent-secondary)
}

/*--------------------------------------------------------------
  Bookshelf
--------------------------------------------------------------*/
.bookshelf {
    position: relative;
    margin: 0 auto;
    column-gap: 12px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.book {
    position: relative;
    cursor: default;
    padding: 16px;
    margin: 0;
    display: grid;
    break-inside: avoid;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.book-content {
    position: relative;
}

.book-cover {
    position: relative;
}

.book-cover .book-pages {
    position: absolute;
    width: 90%;
    height: 96%;
    top: 1%;
    left: 16px;
    border: 1px solid grey;
    border-radius: 2px 6px 6px 2px;
    background: white;
    box-shadow:
        -5px 20px 15px 0px #00000030,
        inset -2px 0 0 grey,
        inset -3px 0 0 #dbdbdb, inset -4px 0 0 white, inset -5px 0 0 #dbdbdb,
        inset -6px 0 0 white, inset -7px 0 0 #dbdbdb, inset -8px 0 0 white,
        inset -9px 0 0 #dbdbdb;
}

.book-cover .book-image {
    line-height: 0;
    position: relative;
    border-radius: 2px 6px 6px 2px;
    box-shadow: 6px 6px 18px -2px rgba(0, 0, 0, 0.2),
        24px 28px 40px -6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(0.94);
    cursor: pointer;
}

.book-image img {
    grid-row: 1 / -1;
    grid-column: 1;
    width: 100%;
    border-radius: 2px 6px 6px 2px;
}

.book-image:hover {
    transform: perspective(2000px) rotateY(0deg) translateX(0px) scaleX(1);
    transform-style: preserve-3d;
    box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
        20px 14px 16px -6px rgba(0, 0, 0, 0.1);
}

.book-details {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: grid;
    align-items: self-end;
}

.book-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-primary);
    line-height: 1.3;
    margin-bottom: 3px;
    display: block;
}

.book-subtitle {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    line-height: 18px;
    margin-bottom: 6px;
}

.book-author {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    display: block;
    line-height: 15px;
    color: var(--accent-complementary);
}

.book-effect {
    position: absolute;
    width: 20px;
    height: 100%;
    margin-left: 16px;
    top: 0;
    border-left: 2px solid #00000010;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 100%);
    transition: all 0.5s ease;
    z-index: 5;
}

.book-light {
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 100%);
    top: 0;
    right: 0;
    opacity: 0.1;
    transition: all 0.5s ease;
    z-index: 4;
}

.book-image:hover .effect {
    margin-left: 14px;
}

/*--------------------------------------------------------------
  Lists
--------------------------------------------------------------*/
.language-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.language-list li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

/*--------------------------------------------------------------
  Table
--------------------------------------------------------------*/
.table-container {
    border: 1px solid var(--neutral-secondary);
    border-radius: 10px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    border-bottom: 1px solid var(--neutral-secondary);
}

.table tr:last-child {
    border-bottom: 0;
}

.table tr td {
    background-color: var(--bg-tertiary);
    padding: 15px 20px;
}

.table tr td:has(img) {
    line-height: 0;
}

.table tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

.table tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

.table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.table tr:first-child:last-child td:first-child {
    border-radius: 10px 0 0 10px;
}

.table tr:first-child:last-child td:last-child {
    border-radius: 0 10px 10px 0;
}

/*--------------------------------------------------------------
  Card
--------------------------------------------------------------*/
.card {
    background: var(--bg-tertiary);
    padding: 25px;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    border: 1px solid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card .card-img {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5px 5px 0 0;
}

.card .card-title h1,
.card .card-title h2 {
    margin: 0;
}

.card .card-content {
    padding: 10px;
    position: relative;
    text-align: justify;
    display: grid;
    gap: 20px;
}

.card .card-content-img {
    border-radius: 50%;
    position: absolute;
    top: -75px;
    right: 30px;
    z-index: 1;
    max-width: 150px;
    opacity: 1;
}

.card-footer {
    display: flex;
    gap: 10px;
}

/*--------------------------------------------------------------
  Button
--------------------------------------------------------------*/
.button {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 10px;
    background: var(--accent-tertiary);
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
}

.button i {
    font-size: 20px;
    padding: 0;
}

.button:hover {
    box-shadow: 0 6px 14px var(--accent-tertiary);
}

/*--------------------------------------------------------------
  Image Flag
--------------------------------------------------------------*/

.img-flag {
    width: 35px;
    aspect-ratio: 1;
}

/*--------------------------------------------------------------
  Component specific
--------------------------------------------------------------*/

span[data-translate-key="course_hours"] {
    margin-left: 5px;
}

.gradient-text {
    background-image: linear-gradient(to right, var(--accent-tertiary), var(--accent-complementary)) !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

/*--------------------------------------------------------------
  Animations
--------------------------------------------------------------*/
.lang-transition {
    animation: langBlur 0.3s ease-in-out;
}

@keyframes langBlur {
    0% {
        filter: blur(0px);
    }

    5% {
        filter: blur(5px) saturate(0) grayscale(1);
        opacity: 0.2;
    }

    50% {
        filter: blur(10px) saturate(2) grayscale(0);
        opacity: 1;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    25% {
        transform: scale(1);
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        --x: 0%;
        --y: 0%;
    }

    25% {
        --x: 100%;
        --y: 0%;
    }

    50% {
        --x: 100%;
        --y: 100%;
    }

    75% {
        --x: 0%;
        --y: 100%;
    }

    100% {
        --x: 0%;
        --y: 0%;
    }
}

/*--------------------------------------------------------------
  Dark Mode Styles
--------------------------------------------------------------*/
body.dark-mode {
    background-color: var(--dark-bg-primary);
    color: var(--dark-text-primary);
}

body.dark-mode * {
    border-color: var(--dark-border-color) !important;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: var(--dark-text-primary);
}

body.dark-mode h3 {
    color: var(--accent-tertiary);
}

body.dark-mode .nav-menu {
    background-color: var(--dark-bg-secondary);
}

body.dark-mode .main-nav .nav-left .nav-logo {
    color: var(--dark-text-primary);
}

body.dark-mode .main-nav .nav-menu ul li:not(:last-child):after {
    color: var(--accent-tertiary);
}

body.dark-mode .nav-toggle-icon {
    color: var(--dark-text-primary);
}

body.dark-mode .profile-pic {
    background-color: var(--dark-text-primary);
}

body.dark-mode .sidebar,
body.dark-mode .section {
    background-color: var(--dark-bg-secondary);
}

body.dark-mode .sidebar {
    /* background-image: url("../img/card-bg.webp"); */
    background-blend-mode: lighten;
    /* box-shadow: inset 0px 0 200px 105px var(--dark-bg-primary); */
}

body.dark-mode .timeline-content,
body.dark-mode .card {
    background-color: var(--dark-bg-tertiary);
}

body.dark-mode .social-icon {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
}

body.dark-mode .sidebar::before {
    filter: saturate(1.5) contrast(2) blur(15px) hue-rotate(35deg);
}

body.dark-mode .sidebar::after {
    background-color: var(--dark-bg-contrast);
}

body.dark-mode .table tr td {
    background-color: var(--dark-bg-tertiary);
}

body.dark-mode .skill {
    background-color: var(--accent-primary);
    color: var(--bg-primary);
}

body.dark-mode details summary svg {
    fill: var(--bg-primary);
}

body.dark-mode .main-nav {
    background-color: var(--dark-bg-secondary);
    color: var(--accent-primary);
}

body.dark-mode .main-nav .nav-menu ul li a {
    color: var(--dark-text-primary);
}

body.dark-mode .timeline-subtitle {
    color: var(--accent-complementary);
}

body.dark-mode .badge {
    background: var(--accent-complementary);
    color: var(--text-primary);
}

body.dark-mode .button {
    background: var(--accent-complementary);
    color: var(--text-primary);
}

body.dark-mode aside .reflection {
    mix-blend-mode: soft-light;
}

body.dark-mode .book-title {
    color: var(--dark-text-primary);
}

.button:hover {
    box-shadow: 0 6px 14px var(--accent-complementary);
}

/*--------------------------------------------------------------
  Responsive Design
--------------------------------------------------------------*/
@media screen and (max-width: 1599px) {
    .main-nav {
        font-size: 12px;
    }
}

@media screen and (max-width: 1399px) {
    main {
        width: calc(100vw - 470px);
    }

    .main-nav {
        font-size: 11px;
    }

    .main-nav .nav-left .nav-logo {
        font-size: 1.0rem;
    }

    .main-nav .nav-menu ul li:not(:last-child):after {
        margin: 0 5px;
    }
}

@media screen and (max-width: 1199px) {
    .main-nav {
        font-size: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0.5rem;
    }

    .main-nav .nav-left .nav-logo {
        font-size: 1.2rem;
    }

    .main-nav .nav-menu ul li {
        text-align: center;
    }

    .main-nav .nav-menu ul li:not(:last-child):after {
        content: '';
        margin: 0;
    }

    main,
    .sidebar {
        margin: 0;
    }

    main {
        width: 100%;
        margin-bottom: 0;
        position: relative;
        top: 60px;
    }

    aside {
        z-index: 10;
    }

    .section,
    .sidebar {
        content: '';
        padding: 50px 20px;
    }

    .sidebar {
        width: unset;
        position: relative;
        top: 60px;
        margin-bottom: 10px;
    }

    .timeline {
        padding-left: 0;
    }

    .timeline::before {
        display: none;
    }

    .timeline::before {
        left: 0px;
    }

    .timeline-title-composed {
        flex-direction: column;
        align-items: baseline;
    }

    .timeline-title-detail::before {
        content: '';
        margin: 0;
    }

    .timeline-body ul {
        margin-left: 5px;
    }

    .main-nav {
        left: 0;
        width: 100%;
        font-size: 14px;
        grid-template-columns: 3fr 1fr 3fr;
        justify-items: anchor-center;
        justify-content: space-between;
    }

    .main-nav .nav-left {
        justify-self: self-start;
    }

    .main-nav .nav-extras {
        justify-self: self-end;
    }

    .main-nav .img-flag {
        width: 30px;
        aspect-ratio: 1;
    }

    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: var(--bg-primary);
        padding: 10px 20px;
        overflow-y: auto;
        transition: all 0.2s ease-in-out;
        display: flex;
        transform: translateX(-100vw);
        opacity: 0;
        height: calc(100vh - 60px);
    }

    .nav-menu.active {
        transform: translateX(0);
        opacity: 1;
    }

    .nav-toggle {
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .main-nav .nav-menu ul {
        flex-direction: column;
        gap: 15px;
        height: 100%;
    }

    .social-links {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .button i {
        display: none;
    }

    .button span {
        text-align: center;
        line-height: 20px;
    }

    .card .card-content,
    .timeline-content,
    .section#about-me,
    .section#interests {
        text-align: left;
    }

    .section#career h2,
    h3 {
        display: block;
    }

    .card .card-content-img {
        max-width: 80px;
        top: -45px;
        right: 15px;
    }

    .sidebar {
        z-index: 1;
    }

    .bookshelf {
        grid-template-columns: repeat(2, 1fr);
    }

    .effect {
        margin-left: 5px;
        border-left: 1px solid #00000010;
    }

    .book-image:hover .effect {
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    .book-cover .book-image {
        transform: perspective(2000px) rotateY(-15deg) translateX(-4px) scaleX(0.94);
    }

    .book-effect {
        margin-left: 5px;
        border-left: 1px solid #00000010;
    }

    .book-image:hover {
        transform: perspective(2000px) rotateY(0deg) translateX(1px) scaleX(1);
        transform-style: preserve-3d;
        box-shadow: 6px 6px 12px -1px rgba(0, 0, 0, 0.1),
            20px 14px 16px -6px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 359px) {
    .main-nav .nav-left .nav-logo {
        font-size: 10px;
    }

    .main-nav .nav-extras {
        gap: 5px;
    }

    .main-nav .img-flag {
        width: 20px;
    }

    .toggle-btn {
        width: 20px;
        height: 20px;
    }

    .nav-toggle {
        flex-grow: 1;
    }
}

.timeline-item:hover .timeline-content {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}